
# Created by https://www.gitignore.io/api/.gitignore
# Edit at https://www.gitignore.io/?templates=.gitignore

#!! ERROR: .gitignore is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/.gitignore
